<p style="color: green"><%= notice %></p>

<h1> My Documents</h1>

<div id="documents" class=container p-64>
  <% @documents.each do |document| %>
    <%= render document %>
    <p>
      <%= link_to "Show this document", document %>
    </p>
  <% end %>
</div>