<div class="inline-block justify-center w-max mx-32 my-4">
<h1 class="badge badge-accent badge-outline">Create a new Document</h1>
</div>

<%= render "form", document: @document %>

<br>

<div>
  <%= link_to "Back to documents please", documents_path %>
</div>
