<% if !user_signed_in? %>
<div class="bg-gradient-to-r from-gray-100 to-gray-300 shadow-md rounded p-4 m-64 flex flex-col">
    <div class="mb-4">
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="username" type="text" placeholder="Username">
    </div>
    <div class="mb-6">
      <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="password" placeholder="Enter password">
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="button">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/users/sign_up">
        New User?
      </a>
    </div>
</div>
<% else %>
Wooh! Logged in!
<% end%>
